<h1>Editing card</h1>

<% form_for(@card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :cardtype %><br />
    <%= f.text_field :cardtype %>
  </p>
  <p>
    <%= f.label :mtg_id %><br />
    <%= f.text_field :mtg_id %>
  </p>
  <p>
    <%= f.label :cc %><br />
    <%= f.text_field :cc %>
  </p>
  <p>
    <%= f.label :cmc %><br />
    <%= f.text_field :cmc %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>